body {
    background-image: url("../img/DALL·E\ 2023-05-03\ 17.45.04\ -\ something\ that\ refers\ to\ the\ idea\ of\ censorship\ minimalist.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}